# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.GAME105_Breakout.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Scott Tongue\Documents\Unity Project\GAME105_Breakout\.idea\.idea.GAME105_Breakout\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
